<h3>DetailsArticle</h3>

<p class="list-group-item">
    Nom : @currentArticle.Name
</p>


<p class="list-group-item">
    Prix: @currentArticle.Price
</p>

<p class="list-group-item">
    Description : @currentArticle.Description
</p>